.detail-clinic-container {
    padding         : 0 150px;
    background-color: #f0ecec;

    .description-clinic {
        min-height      : 200px;
        padding         : 12px;
        border-radius   : 12px;
        background-color: #ffff;

        .description-clinic-title {
            font-weight: 600;
            font-size  : 20px;
        }

        .description-clinic-content {
            padding-left: 20px;
        }
    }

    .search-sp-doctor {
        select {
            margin-top   : 10px;
            width        : 160px;
            height       : 30px;
            padding      : 5px 8px;
            border       : none;
            outline      : none;
            border-radius: 3px;
        }
    }

    .each-doctor {
        display         : flex;
        min-height      : 300px;
        width           : 100%;
        margin          : 10px 0;
        border-radius   : 12px;
        background-color: #ffff;

        .content-left {
            width  : 50%;
            padding: 20px;
        }

        .content-right {
            width: 50%;
        }
    }
}