.manage-clinic-container {
    padding: 0 15px;

    .ms-title {
        font-size     : 17px;
        margin        : 10px 0;
        text-transform: uppercase;
        text-align    : center;
        font-weight   : 600;

    }


    .all-clinic {

        .btn-save-clinic {}
    }

}